<configuration>
  <connectionStrings>
    <add name="DataDBContext" connectionString="Offline=False;Database=core7;Server=127.0.0.1;Port=7001;Username=rey;Password=rey" providerName="System.Data.CData.Cassandra" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.CData.Cassandra" type="System.Data.CData.Cassandra.CassandraProviderServices, System.Data.CData.Cassandra.Entities.EF7" />
    </providers>
  <entityFramework>
</configuration>
</code> 